@use "../../../variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: variables.$error;
    font-size: 0.85rem;

    .messageContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    .retryButton {
        display: flex;
        gap: 4px;
        align-items: center;
        border-radius: 0;
        background-color: variables.$darker;
        color: variables.$font;
        padding: 8px 16px;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: variables.$dark;
        }

        svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }
}