@use "../../../variables.scss";

.projectCardContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 12px;

    .downloadButton {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: transparent;
        color: variables.$font;
        padding: 8px 16px;
        transition: all 0.1s ease-in-out;
        font-size: 0.65rem;
        text-align: center;
        font-weight: 600;

        &:hover {
            background-color: variables.$dark;
        }

        svg {
            width: 12px;
            height: 12px;
            margin-right: 4px;
        }

        .spinning {
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}