@use "../../../variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    padding: 16px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logoutButton {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 0.4rem;
            color: variables.$highlight;
            align-items: center;
            border-radius: 0;
            background-color: transparent;
            padding: 8px 16px;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: variables.$highlight;
            }

            svg {
                width: 10px;
                height: 10px;
                color: variables.$font;
            }
        }
    }

    .uploadContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 6px;

        .uploadButton {
            display: flex;
            gap: 4px;
            align-items: center;
            border-radius: 0;
            background-color: variables.$darker;
            color: variables.$font;
            padding: 8px 16px;
            transition: all 0.1s ease-in-out;
            font-weight: 600;
            font-size: 0.65rem;

            &:hover {
                background-color: variables.$dark;
            }

            svg {
                width: 12px;
                height: 12px;
                margin-right: 4px;
            }
        }
    
        .spinning {
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

    .logosHeading {
        font-size: 0.85rem;
        font-weight: 600;
        color: variables.$font;
        padding-bottom: 10px;
        margin-bottom: 8px;
        text-align: left;
        border-bottom: 1px solid variables.$dark;
    }

    .logosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .noLogos {
        display: flex;
        color: variables.$highlight;
        font-size: 0.85rem;
    }
}

