$darkest: #222222;
$darker: #333333;
$dark: #444444;
$font: #bbbbbb;
$highlight: #aaaaaa;
$lightOnDark: #8b8b8b;
$lightOnMediumLight: #e2e2e2;
$lightOnDark: #d7d7d7;
$white: #ffffff;

$darkOnDark: #202020;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;